<div *ngIf="isLoading">
  <div class="flex flex-column align-items-center mt-8 md:col-6 lg:col-3 md:col-offset-4 md:mt-8">
    <mat-spinner></mat-spinner>
    <h3 class="mt-3">{{message}}</h3>
  </div>
</div>

<div *ngIf="!isLoading">
  <mat-form-field class="mt-5">
    <mat-label>Buscador</mat-label>
    <input matInput (keyup)="searchFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8" *ngIf="id_usuario_ml === 0 else elseblock">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> codigo </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> descripción </th>
        <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="usersML"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

      <tr mat-row (click)="selectedUser(row.id)" *matRowDef="let row; columns: usersML;"></tr>


      <!-- Row shown when there is no matching data. -->
      <tr mat-row *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontró nada de: "{{input.value}}"</td>
      </tr>

    </table>
  </div>


  <!-- Cuando se escoge un usuario aparece esta pantalla que es la de productos -->
  <ng-template #elseblock>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Selector </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="onRowSelect($event, row)"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id_producto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID del producto </th>
          <td mat-cell *matCellDef="let row"> {{row.id_producto}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>


        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
          <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
        </ng-container>


        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
          <td mat-cell *matCellDef="let row"> {{row.marca}} </td>
        </ng-container>


        <!-- <ng-container matColumnDef="precio1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio1 </th>
            <td mat-cell *matCellDef="let row"> {{row.precio1}} </td>
          </ng-container> -->


        <ng-container matColumnDef="precio2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio2 </th>
          <td mat-cell *matCellDef="let row"> {{row.precio2}} </td>
        </ng-container>


        <ng-container matColumnDef="precio1_porc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 9% </th>
          <td mat-cell *matCellDef="let row"> {{row.precio1_porc}} </td>
        </ng-container>


        <ng-container matColumnDef="precio2_porc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 11% </th>
          <td mat-cell *matCellDef="let row"> {{row.precio2_porc}} </td>
        </ng-container>

        <ng-container matColumnDef="perc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openDialogPercent(element)">
              <mat-icon>percent</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="notas">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Notas</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openDialogNotas(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Borrar</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="selectedProduct(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="productsML"></tr>

        <tr mat-row *matRowDef="let row; columns: productsML;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr mat-row *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

      </table>

      <mat-paginator [showFirstLastButtons]="true" [pageSizeOptions]="[10, 20, 30, 100]"
        aria-label="Selecciona una opcion para cargar los resultados"></mat-paginator>
    </div>

    <div class="flex align-items-center flex-wrap m-3">
      <button mat-raised-button color="primary" class="mr-3" (click)="crearVenta()" [disabled]="!showButton">Crear
        Venta</button>
      <input type="file" (change)="onFileSelected($event)">
      <span class="spacer"></span>
      <button class="mr-3" mat-raised-button color="primary" (click)="onUpload()">Cargar archivo</button>
      <button mat-raised-button color="primary" (click)="selectUserAgain()">Escoger otro usuario</button>
    </div>

    <!--  -->
    <!-- Segunda tabla de producto que no estan en mercado libre -->
    <!--  -->

    <h3 class="mt-6 ml-3"><b>Articulos a actualizar precio o subir a mercadolibre</b></h3>

    <mat-form-field class="mt-5">
      <mat-label>Buscador</mat-label>
      <input matInput (keyup)="searchFilter2($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceTemp" matSort>

        <ng-container matColumnDef="id_producto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID del producto </th>
          <td mat-cell *matCellDef="let row"> {{row.id_producto}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>


        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
          <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
        </ng-container>


        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
          <td mat-cell *matCellDef="let row"> {{row.marca}} </td>
        </ng-container>


        <ng-container matColumnDef="precio1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio1 </th>
          <td mat-cell *matCellDef="let row"> {{row.precio1}} </td>
        </ng-container>

        <ng-container matColumnDef="precio2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio2 </th>
          <td mat-cell *matCellDef="let row"> {{row.precio2}} </td>
        </ng-container>


        <ng-container matColumnDef="precio1_porc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 9% </th>
          <td mat-cell *matCellDef="let row"> {{row.precio1_porc}} </td>
        </ng-container>


        <ng-container matColumnDef="precio2_porc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> 11% </th>
          <td mat-cell *matCellDef="let row"> {{row.precio2_porc}} </td>
        </ng-container>

        <ng-container matColumnDef="perc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Porcentaje</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openDialogPercent(element)">
              <mat-icon>percent</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="productsMLTemp"></tr>

        <tr mat-row (click)="selectedProductTemp(row.id_producto)" *matRowDef="let row; columns: productsMLTemp;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr mat-row *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [showFirstLastButtons]="true" #MatProductosTempPaginator [pageSizeOptions]="[10, 20, 30, 100]"
        aria-label="Selecciona una opcion para cargar los resultados"></mat-paginator>
    </div>
    <div class="flex align-items-center flex-wrap m-3" *ngIf="this.user()?.email_user === 'smithrodriguez123@gmail.com'">
      <button mat-raised-button color="warn" (click)="DeleteAllProducts()">Borrar todos los productos</button>
    </div>
  </ng-template>
</div>