<div mat-dialog-content>
    <h2>Escoja Un Usuario</h2>
    <mat-selection-list #selectionList [multiple]="false" (selectionChange)="onSelectionChange()">
        <mat-list-option *ngFor="let usuario of usuariosML" [value]="usuario.id">
          {{usuario.correo}}
        </mat-list-option>
      </mat-selection-list>

    <!-- <ng-container *ngIf="escogioUsuario == true">
        <ng-container  *ngFor="let field of data">
            <h2>{{field.descripcion}}</h2>
            <h3>Diga el precio del producto. Recuerde que este precio es el que usted tiene en mercadolibre quitandole el 9% o 11%, 
                si es el mismo del sistema entonces coloquelo. Recuerde que cada usuario con mercadolibre puede tener precios diferentes
                en sus productos. Solo numeros o decimales
            </h3>
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>{{ field.descripcion }}</mat-label>
              <input matInput type="number" [name]="field.codigo" required>
            </mat-form-field>
      </ng-container>
        <div class="flex">
          <button mat-button mat-flat-button color="primary" class="m-3" (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            Ingresar
          </button>

          <button mat-button mat-flat-button color="primary" class="m-3" (click)="escogioUsuario = false">
            <mat-icon>person</mat-icon>
            Escoger Otro Usuario
          </button>
    
          <span class="spacer"></span>
    
          <button class="m-3 pl-4 pr-4" mat-button mat-flat-button color="warn" mat-dialog-close="true">
            <mat-icon>close</mat-icon>
            Cerrar
          </button>
        </div>
    </ng-container> -->
    
  </div>