<!-- <h2>{{this.user()?.nombre}}</h2>
<h2>{{this.user()?.apellido}}</h2>
<h2>{{this.user()?.cedula}}</h2>
<h2>{{this.user()?.email_user}}</h2>
<h2>{{this.user()?.rol}}</h2> -->
  <mat-tab-group >
    <mat-tab label="Perfil">
        <h2>{{this.user()?.nombre}}</h2>
        <h2>{{this.user()?.apellido}}</h2>
        <h2>{{this.user()?.cedula}}</h2>
        <h2>{{this.user()?.email_user}}</h2>
        <h2>{{this.user()?.rol}}</h2>
    </mat-tab>
    <mat-tab label="Registrar nuevo admin">
        <h2>Mundo</h2>
    </mat-tab>
  </mat-tab-group>